# Binaries
envw
envw-go
# *.exe <-- Removido para permitir o binário de windows no git se necessário (mas o ideal é Release)
*.exe~
*.dll
*.so
*.dylib
# dist/

# Environment variables (CRITICAL: DO NOT COMMIT)
.env
.env.*
!.env.example

# Go
vendor/
go.sum (optional, but usually kept)
